div#navigational-fixed-toolbar {
  position: fixed;
  z-index: 9999;
  bottom: 0px;
  background-color: #FFF;
  border-top: solid #000 thin;
  width: 100%;
  text-align: center;
  left: 0px;
  padding: 15px 0px; }
  div#navigational-fixed-toolbar div:hover {
    cursor: pointer;
    opacity: 0.5; }
  div#navigational-fixed-toolbar div {
    display: inline-block;
    font-weight: bold; }
  div#navigational-fixed-toolbar div.previous,
  div#navigational-fixed-toolbar div.next {
    width: 100px; }
    div#navigational-fixed-toolbar div.previous span,
    div#navigational-fixed-toolbar div.next span {
      vertical-align: middle; }
    div#navigational-fixed-toolbar div.previous a,
    div#navigational-fixed-toolbar div.next a {
      background-color: #000;
      text-align: center;
      padding: 12px 5px 5px 5px;
      box-sizing: border-box;
      height: 75px;
      width: 75px;
      border-radius: 15px;
      margin: 0px auto;
      display: block; }
      div#navigational-fixed-toolbar div.previous a img,
      div#navigational-fixed-toolbar div.next a img {
        width: 75%; }
  div#navigational-fixed-toolbar a.view-all {
    width: 50px;
    margin: 0px 15px; }
    div#navigational-fixed-toolbar a.view-all img {
      width: 50px; }

div#navigational-toolbar h1 {
  text-align: center; }
div#navigational-toolbar a:hover {
  text-decoration: none;
  opacity: 1; }
div#navigational-toolbar a {
  text-align: center;
  margin: 15px 10px;
  display: block;
  color: #000; }
  div#navigational-toolbar a div {
    display: inline-block;
    text-align: center;
    margin: 5px 5px; }
    div#navigational-toolbar a div a:hover {
      opacity: 0.5;
      cursor: pointer; }
    div#navigational-toolbar a div a {
      background-color: #000;
      text-align: center;
      padding: 12px 5px 5px 5px;
      box-sizing: border-box;
      height: 75px;
      width: 75px;
      border-radius: 15px;
      margin: 0px auto;
      display: block; }
      div#navigational-toolbar a div a img {
        width: 75%;
        vertical-align: middle; }
    div#navigational-toolbar a div span {
      margin-top: 5px;
      display: block;
      font-weight: bold;
      font-size: 0.75em; }
div#navigational-toolbar span.desc {
  display: block;
  text-align: left; }

div#navigational-content {
  width: 100%;
  padding-bottom: 75px; }
  div#navigational-content a:hover {
    opacity: 0.5;
    cursor: pointer;
    text-decoration: none;
    opacity: 1; }
  div#navigational-content a {
    color: #000; }
  div#navigational-content a.section-wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin: 25px 0px;
    text-align: left; }
    div#navigational-content a.section-wrapper div.icon-wrapper {
      padding-right: 15px; }
      div#navigational-content a.section-wrapper div.icon-wrapper div.icon {
        background-color: #000;
        text-align: left;
        padding: 12px 15px 15px 15px;
        box-sizing: border-box;
        color: #FFF;
        width: 90%;
        max-width: 200px;
        min-width: 150px;
        border-radius: 15px;
        margin: 0px auto;
        font-weight: bold; }
        div#navigational-content a.section-wrapper div.icon-wrapper div.icon img {
          width: 75%;
          display: block;
          margin: 0px auto 15px auto; }
    div#navigational-content a.section-wrapper div.content-wrapper {
      border-left: solid medium black;
      padding-left: 25px;
      box-sizing: border-box; }
      div#navigational-content a.section-wrapper div.content-wrapper p {
        margin: 15px 0px; }
        div#navigational-content a.section-wrapper div.content-wrapper p a {
          color: #6abbf9; }

@media only screen and (max-device-width: 480px) {
  div#navigational-toolbar h1,
  div#navigational-toolbar span.desc {
    display: none; }
  div#navigational-toolbar a div a {
    padding-top: 16px;
    width: 100px;
    height: 100px; }
  div#navigational-toolbar a div span {
    white-space: nowrap; }

  div#navigational-content {
    padding-bottom: 100px; }
    div#navigational-content a.section-wrapper::before {
      content: '';
      display: block;
      margin: 0px auto;
      width: 90%;
      border-top: solid thick #ddd; }
    div#navigational-content a.section-wrapper {
      display: block; }
      div#navigational-content a.section-wrapper div.content-wrapper {
        display: block;
        border: none;
        padding: 0px 25px; }
      div#navigational-content a.section-wrapper div.icon-wrapper {
        width: 90%;
        margin: 15px auto;
        padding: 0px; }
        div#navigational-content a.section-wrapper div.icon-wrapper div.icon {
          height: 128px;
          font-size: 1.5em;
          width: 100%;
          max-width: none;
          white-space: nowrap; }
          div#navigational-content a.section-wrapper div.icon-wrapper div.icon img {
            width: 33%;
            float: left;
            margin-right: 15px; } }

/*# sourceMappingURL=style.css.map */
